<!DOCTYPE html>
<html>
<head>
  <title>cool japan</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:title" content="cool japan"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://<%=request.host%>"/>
  <meta property="og:site_name" content="cool japan"/>
  <meta property="og:image" content="https://<%=request.host%>/images/cool.jpg" />
  <meta property="fb:admins" content="<%=ENV['FB_ADMINS']%>" />
  <meta property="fb:app_id" content="<%=ENV['FB_APP_ID']%>" />
  <meta property="og:description" content="cool japan" />
  <link href="/css/normalize.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/css/application.css" media="all" rel="stylesheet" type="text/css" />
  <link href="/fancybox1.3.4/jquery.fancybox-1.3.4.css" media="all" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>
  <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="/fancybox1.3.4/jquery.fancybox-1.3.4.pack.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
  <script type="text/javascript" src="http://js.pusherapp.com/1.8/pusher.min.js"></script>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30646644-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>
  <script type="text/javascript">
    $(window).ready(function() {
      var pusher = new Pusher('<%= pusher_api_key %>');
      var channel = pusher.subscribe('tweets');

      channel.bind('tweet', function(tweet) {
        var template = $('#tweet-template').html()
          .replace('{{PROFILE_IMAGE}}', tweet.user.profile_image_url)
          .replace('{{TEXT}}', tweet.text);
        $('#tweets').prepend(template);
      });
      channel.bind('title', function(title) {
        $('h1').html("Tweets about " + title);
      });
    });
  </script>
  <script id="tweet-template" type="text/html">
    <li class="tweet">
      <img width="48" height="48" src="{{PROFILE_IMAGE}}"/>
      <div class="content">
      {{TEXT}}
      </div>
    </li>
  </script>
</head>
<body>
<%= yield %>

<div id="fb-root"></div>
</body>
</html>
